In [2]:
# python is used for web development 
# software development 
# maths
# system scripting

In [3]:
import sys
print(sys.version)

3.12.1 (main, Mar 17 2025, 17:13:06) [GCC 9.4.0]

In [5]:
if 5 > 2:
    print("Greater")
    # be careful about the spaces

Greater

In [7]:
# single line comment 
"""
this is a multiline comment 
"""

'\nthis is a multiline comment \n'

In [10]:
# variables can be created as you assign value to it 
x =50
y = "john"
print(x)
print(type(x))
print(y)
z = "100"
print(type(z))
z = int(z)
print(type(z))

50
<class 'int'>
john
<class 'str'>
<class 'int'>

In [11]:
# assigning multiple values to multiple variables
x ,y,z = 10,12,13
print(x,y,z)

10 12 13

In [12]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [14]:
# string are arrays in python 
#python do not have character data type 
a = "hello bhai"
print(a[7])

h

In [15]:
#length of a string 
print(len(a))

10

In [18]:
txt = "my name is saksham jain"
if "my" in txt:
    print("present")
if "my" not in txt:
    print("not present")

present

In [19]:
# slicing of sting
txt = "now this is test example"
print(txt[2:10])

w this i

In [20]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [23]:
#uppercase of string
xyz = "practice arena"
print(xyz.upper())
print(xyz)
# same as lowercase

PRACTICE ARENA
practice arena

In [25]:
#remove whitespace
a = "  tanish Diwedi "
print(a.strip())
print(a)

tanish Diwedi
  tanish Diwedi

In [29]:
#replace the character and string 
char = "just be formad"
print(char.replace('d','l'))
print(char)
txt = "the text contain more the as the text"
print(txt.replace('the','a'))

just be formal
just be formad
a text contain more a as a text

In [31]:
#split function
a = "this is by default list"
print(a.split())
print(a)

['this', 'is', 'by', 'default', 'list']
this is by default list

In [ ]:
# string format 
x= 20
print(f"i guess your age is {age}")