In [2]:
# tuple are unchangeable but ordered collection in python
# written with () brackets
# allow duplicates

In [4]:
tup  = (1,2,3,4,5,6)
print(tup)
print(len(tup))

(1, 2, 3, 4, 5, 6)
6

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [6]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [5]:
#sets are used to store 
# sets are unordered and unchangeable 
#written in curly brackets
# duplicate are not allowed
# you cannot change but add and remove elements

In [9]:
s = {0,1,2,3,4,5,6,6}
print(type(s))
print(s)
print(len(s))
print(6 in s)

<class 'set'>
{0, 1, 2, 3, 4, 5, 6}
7
True

In [11]:
# add element in set 
thisset = {'apple','kiwi',5 ,6, 9}
thisset.add('orange')
print(thisset)

{'orange', 5, 6, 'apple', 9, 'kiwi'}

In [12]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'cherry', 'banana', 'pineapple', 'apple'}

In [13]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'kiwi', 'cherry', 'banana', 'apple'}

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [2]:
dic = { 'Name':'tanish',
        'age': 50,
        'post':'director',
        'company':'testimony'
      }
#to access the element we have two ways
print(dic['Name'])
print(dic.get('age'))

tanish
50

In [6]:
# to get the list of keys and values we use keys() and values()
key = dic.keys()
print(key)
val = dic.values()
print(val)
print(len(dic)) #numbr of items are calculated in length

dict_keys(['Name', 'age', 'post', 'company'])
dict_values(['tanish', 50, 'director', 'testimony'])
4

In [9]:
#changes are reflected in dictionary 
car = { 'brand':'BMW',
        'model':'X7',
        'year':2020
      }
 
x = car.values()
print("values before change" ,x)
car['year']=2025
print("values after change",x)
x = car.items()
print(x)

values before change dict_values(['BMW', 'X7', 2020])
values after change dict_values(['BMW', 'X7', 2025])
dict_items([('brand', 'BMW'), ('model', 'X7'), ('year', 2025)])

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if 'Ford' in thisdict:
    print("yes")
else:
    print("NO")

NO

In [11]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [12]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [15]:
for i,(j,k) in enumerate(thisdict.items()):
    print(i,j,k)

0 brand Ford
1 model Mustang
2 year 1964

In [19]:
# you cannot make copy of dictionary like dict1 = dict2 it will store the reference and change in one will automatically change other 
car = { 'brand':'BMW',
        'model':'X7',
        'year':2020
      }
car2 = car.copy()
car2['owner']='Gov'
print(car2)
print(car)
car3 = dict(car) # another way to copy

{'brand': 'BMW', 'model': 'X7', 'year': 2020, 'owner': 'Gov'}
{'brand': 'BMW', 'model': 'X7', 'year': 2020}