In [2]:
# tuple are unchangeable but ordered collection in python
# written with () brackets
# allow duplicates

In [4]:
tup  = (1,2,3,4,5,6)
print(tup)
print(len(tup))

(1, 2, 3, 4, 5, 6)
6

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [6]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [5]:
#sets are used to store 
# sets are unordered and unchangeable 
#written in curly brackets
# duplicate are not allowed
# you cannot change but add and remove elements

In [9]:
s = {0,1,2,3,4,5,6,6}
print(type(s))
print(s)
print(len(s))
print(6 in s)

<class 'set'>
{0, 1, 2, 3, 4, 5, 6}
7
True

In [11]:
# add element in set 
thisset = {'apple','kiwi',5 ,6, 9}
thisset.add('orange')
print(thisset)

{'orange', 5, 6, 'apple', 9, 'kiwi'}

In [12]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'cherry', 'banana', 'pineapple', 'apple'}

In [13]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'kiwi', 'cherry', 'banana', 'apple'}

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}